.Recuperar{
  display: flex;
  min-height: 395px;
  max-width: 370px;
  justify-content: space-between;
}

.Titulo{
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .Titulo{
      margin-bottom: 10px;
    }

    .Opções-Login {
        display: flex;
        flex-direction: row;
        gap: 6px;
        margin: 0.5rem 0px;
    }
}

@media screen and (max-width: 320px) {
}